.container-fluid{
    // background-color: #9A10FF;
    
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%233dccc9' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23229091' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2300bade' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%230085a3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2300a3f1' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230077b5' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%230086f5' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230063bc' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236a5ddf' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235346ae' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
}



.playful{
    z-index: 3000;
}
.container {
    z-index: 999;
}


h1,h2,h3{
    font-family:'Sora','Times New Roman', Times, serif;
    font-weight: 800;
}

p {
    font-family:'Sora','Times New Roman', Times, serif;
    font-weight:300;
}

.card{
    transition: all 0.5s ease;
}

a.card:hover{
    background-color: rgb(235, 3, 3);
    color: rgb(40, 240, 50);
}

