<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-center align-center">
            <div class="col-sm-8">
                <h2 class="text-center text-white mt-5">Trivial Quiz</h2>
                <p class="text-center text-white">Select a category to proceed</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-3" *ngFor="let item of pageOfItems;let i = index">
                <a routerLink="">
                    <div class="card bg-{{background[i]}} text-white">
                        <img src="https://robohash.org/williams{{i}}.jpg?size=250x250&set=set1" class="card-img" alt="...">
                        <div class="card-img-overlay text-center">
                            <h2 class="card-title">{{item.name}}</h2>
                        </div>
                    </div>
                </a>
            
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex justify-content-center text-center">
                <div class=" pb-0 pt-3 text-center">
                    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
            </div>
        </div>
    </div>
</div>